doctype html
html
  head
    title= title
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js')
    script(src="/dist/main.js")
    link(href='/main.css', rel='stylesheet')
  body
    block content
